DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
DISCORD_CLIENT_ID=your-google-client-id
DISCORD_CLIENT_SECRET=your-google-client-secret
DISCORD_GUILD_ID=your-guild-id
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxxxxxx
SESSION_SECRET=reallysecuresecret
LUMA_ADMIN_EMAIL=admin@example.com
LUMA_ADMIN_PASSWORD=your-luma-password-here
